{% extends 'base.html.twig' %}

{% block title %}Mon compte - Salle de sport{% endblock %}

{% block pageTitle %}Mes informations{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('my_account') }}
{% endblock %}

{% block body %}
    <div class="main">

        <div class="card">
            {{ form(account_infos_form) }}
        </div>
    </div>
    <div class="main">

        <div class="card">
            {{ form(password_form) }}
        </div>
    </div>
{% endblock %}

