<h1>Veuillez confirmer votre mail!</h1>

<p>
    Merci de vous avoir inscrit(e) sur le site de notre salle de sport. Veuillez cliquer sur le lien suivant afin d'activer votre compte: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Profitez bien de notre site!
</p>
