{% extends 'base.html.twig' %}

{% block title %}Connexion - Salle de sport{% endblock %}

{% block titrePage %}Connexion{% endblock %}

{% block body %}
    <div class="main">

        <div class="card">
            {{ form(connection_form) }}
        </div>
    </div>
{% endblock %}
