.pageTitle, .main {

    margin-top: 5%;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.card {

    margin-bottom: 50px;
}

.form-control {

    background-color: lightgray;
}

#accountMenu {

    margin-right: 50px;
}

.alert {

    text-align: center;
}