{% extends 'base.html.twig' %}

{% block title %}Articles - Salle de sport{% endblock %}

{% block pageTitle %}Liste des rubriques{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('read') }}
{% endblock %}

{% block body %}
    <div class="main">

        {% if headings != null %}
            <table class="table">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Nombre d'articles</th>
                    <th>Consulter les articles</th>
                </tr>
                </thead>
                <tbody>
                {% for heading in headings %}
                    <tr>
                        <td>{{ heading.titleHeading }}</td>
                        <td>{{ heading.headingPages.count }}</td>
                        <td>
                            <a class="btn bg-primary text-white" href="{{ path('see_heading_pages', {'id':heading.id}) }}">Consulter les articles</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>Aucune rubrique enregistrée.</p>
        {% endif %}
    </div>
{% endblock %}
