{% extends 'base.html.twig' %}

{% block title %}Modification d'un utilisateur - Salle de sport{% endblock %}

{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('manage_users') }}
{% endblock %}

{% block body %}
    <div class="main">

        <div class="card">
            <h1 class="card-title">Modification de l'utilisateur {{ user.username }}</h1>
            {{ form(modify_user_form) }}
        </div>
        <br>
        <a class="btn btn-secondary" href="{{ path('manage_users', {'page' : 1}) }}">Retourner à la liste des utilisateurs</a>
    </div>
{% endblock %}