{% extends 'base.html.twig' %}

{% block title %}Accueil - Salle de sport{% endblock %}

{% block titrePage %}Bienvenue sur le site de la salle de sport!{% endblock %}

{% block body %}
    <div class="main">

        <p>Horaires d'ouverture: 8h30 - 20h50</p>
    </div>
{% endblock %}