{% extends 'base.html.twig' %}

{% block title %}Contact - Salle de sport{% endblock %}

{% block pageTitle %}Nous contacter{% endblock %}
{% block menu %}{{ macroMenu.menu('contact') }}{% endblock %}

{% block body %}
    <div class="main">

        <div class="card">
            {{ form(contact_form) }}
        </div>
    </div>
{% endblock %}
