{% extends 'base.html.twig' %}

{% block title %}Contact - Salle de sport{% endblock %}

{% block pageTitle %}Nous contacter{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('contact') }}
{% endblock %}

{% block body %}
    <div class="main">

        <div class="card">
            {{ form(contact_form) }}

            {% if msg != null %}
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ msg }}</div>

                {% else %}

                    <div class="alert alert-success" role="alert">{{ msg }}</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
