{% extends 'base.html.twig' %}

{% block title %}Erreur 403 - Salle de sport{% endblock %}

{% block pageTitle %}Erreur 403{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('home') }}
{% endblock %}

{% block body %}
    <div class="main">
        <p>Eh, que faites-vous ici?</p>
    </div>
{% endblock %}